<!DOCTYPE html>
{% load leaflet_tags %}
<html lang="en">
<head>
  {% leaflet_js %}
  {% leaflet_css %}
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href='{%static "css/style.css"%}'>
  <meta charset="UTF-8">
  <title>Anti COVID-19 people gatherings reporter</title>
</head>
<body>
<script type="text/javascript">
  var dataurl = '{% url "data" %}';
  var map;

  //TODO some info in footer maybe
  window.addEventListener("map:init", function (event) {
    map = event.detail.map;
    //Remove the Reset View button
    $('.leaflet-control-zoom-out.leaflet-bar-part').remove();

    fetch(dataurl)
      .then(function(resp) {
        return resp.json();
      })
      .then(function(data) {
        L.geoJson(data, {
          onEachFeature: function onEachFeature(feature, layer) {
            layer.bindPopup('People: ' + feature.properties.number.toString() + '<br> Action: ' + feature.properties.action.toString())
          }}).addTo(map);
      });
    //Init view, Krakow Main Square, changed if user grants permission for IP location
    map.setView([50.062412, 19.937216], 16);
    map.on('click', function(e) {
      var popLocation = e.latlng;
      window.value = popLocation;
      popup = L.popup()
        .setLatLng(popLocation)
        .setContent('<p>Click on "Report" button to report activity in this place</p>')
        .openOn(map);
    });
  });
</script>

<div id="map">
  {% leaflet_map "main" %}
</div>

<div id="reporting">
  <button type="button" class="btn-primary" id="report-button">Report</button>
  <button type="button" class="btn-primary" id="center-view">My location</button>
</div>

<div id="reportModal" class="modal" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Report activity</h2>
    </div>
    <div class="modal-body">
      <p>Click how many people you spotted and what they are doing:</p>
      <button type="button" class="btn btn-primary ppl-number" value="1">1</button>
      <button type="button" class="btn btn-primary ppl-number" value="2">2</button>
      <button type="button" class="btn btn-primary ppl-number" value="5">5</button>
      <button type="button" class="btn btn-primary ppl-number" value="10">10</button>
      <br><br>
      <!-- ----------------->
      <button type="button" class="btn btn-primary ppl-activity" value="waiting">Waiting</button>
      <button type="button" class="btn btn-primary ppl-activity" value="passing by">Passing by</button>
      <button type="button" class="btn btn-primary ppl-activity" value="doing some business">Doing some business</button>
    </div>
    <div class="modal-footer">
      <input type="submit" class="btn btn-primary" id="btn-save" value="Submit">
    </div>
  </div>
</div>

<!-- load a bunch of crucial scripts -->
<script src="{% static 'js/modal_script.js' %}" type="text/javascript"></script>
<script src="{% static 'js/add_report.js' %}" type="text/javascript"></script>
<script src="{% static 'js/location_provider.js' %}" type="text/javascript"></script>

<!-- TODO decide if this script should be left out or kept -->
<!--&lt;!&ndash;  Center view at IP location  &ndash;&gt;-->
<!--<script type="text/javascript">-->
<!--  //initial location longitude, latitude-->
<!--  var lng, lat;-->

<!--  // get location data-->
<!--  fetch('https://ipapi.co/json/')-->
<!--    .then(function(response) {-->
<!--      return response.json();-->
<!--    })-->
<!--    .then(function(data) {-->
<!--      lat = parseFloat(data['latitude']);-->
<!--      lng = parseFloat(data['longitude']);-->
<!--      map.setView([lat, lng], 16);-->
<!--    });-->
<!--</script>-->

</body>
</html>